html[data-theme="light"],
body[data-theme="light"] {
  --sg-tooltip-foreground: black;
  --sg-tooltip-background: rgba(250, 250, 250, 0.9);
  --sg-tooltip-border: #ccc transparent;
  --sg-thumb-box-shadow-color: #6c757d40;
  --sg-thumb-hover-border: #0069d9;
  --sg-script-out: #636363 !important;
  --sg-script-pre: #faf1e2 !important;
  --sg-pytb-foreground: #000;
  --sg-pytb-background: #ffe4e4;
  --sg-pytb-border-color: #f66;
  --sg-download-a-background-color: #ffc;
  --sg-download-a-background-image: linear-gradient(to bottom, #ffc, #d5d57e);
  --sg-download-a-border-color: 1px solid #c2c22d;
  --sg-download-a-color: #000;
  --sg-download-a-hover-background-color: #d5d57e;
  --sg-download-a-hover-box-shadow-1: rgba(255, 255, 255, 0.1);
  --sg-download-a-hover-box-shadow-2: rgba(0, 0, 0, 0.25);
}

html[data-theme="dark"],
body[data-theme="dark"] {
  --sg-tooltip-foreground: white;
  --sg-tooltip-background: rgba(10, 10, 10, 0.9);
  --sg-tooltip-border: #333 transparent;
  --sg-thumb-box-shadow-color: #79848d40;
  --sg-thumb-hover-border: #003975;
  --sg-script-out: rgb(179, 179, 179);
  --sg-script-pre: #2e2e22;
  --sg-pytb-foreground: #fff;
  --sg-pytb-background: #1b1717;
  --sg-pytb-border-color: #622;
  --sg-download-a-background-color: #443;
  --sg-download-a-background-image: linear-gradient(to bottom, #443, #221);
  --sg-download-a-border-color: 1px solid #3a3a0d;
  --sg-download-a-color: #fff;
  --sg-download-a-hover-background-color: #616135;
  --sg-download-a-hover-box-shadow-1: rgba(0, 0, 0, 0.1);
  --sg-download-a-hover-box-shadow-2: rgba(255, 255, 255, 0.25);
}


div.sphx-glr-download a {
  background-color: var(--color-background-item) !important;
  background-image: none !important;
  font-family: var(--font-stack) !important;
}

div.sphx-glr-download code.download {
  font-family: var(--font-stack) !important;
}

div.sphx-glr-download-link-note.admonition.note {
  visibility: hidden;
  height: 0;
  margin: -7px;
}

a[class^="sphx-glr-backref"] {
  color: inherit;
}

.sphx-glr-script-out {
  color: #434343 !important;
}


.highlight button.copybtn {
  background-color: transparent !important;
}

.highlight button.copybtn:hover {
  background-color: transparent !important;
}